.Todo {
  background-color: rgb(255, 94, 188);
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  margin: 2px 0px;
}

.Todo-icons {
  color: white;
}

.Todo-icons i {
  margin: 0 5px;
}

.Todo-task {
  position: relative;
  transition: opacity 0.4s linear;
}

.Todo-task.completed {
  opacity: 0.6;
}

.Todo-task.completed::before {
  content: "";
  height: 2px;
  width: 100%;
  background-color: white;
  left: -6px;
  top: 50%;
  position: absolute;
  animation: strikeitem 0.5s ease-out 0s forwards;
}

@keyframes strikeitem {
  to {
    width: calc(100% + 12px);
  }
}
